.root {
  line-height: 1.3;
  padding: 0px;
  font-size: 15px;
  border-bottom: 1px solid #d2d2d2;
}

.rootLevel0 {
  composes: root;
  font-weight: 500;
}

.rootLevel1 {
  composes: root;
  border-bottom: none;
  font-weight: 200;
}

.rootLevel2 {
  composes: root;
  border-bottom: none;
  padding-left: 15px;
}
