.root {
  display: grid;
  min-height: 48px;
  grid-template-columns: 1fr 6fr 12fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  color: #505050;
  padding: 0px 5px;
}
