.root {
    display: grid;
    align-self: stretch
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.listItem {
    margin: 5px 5px; 
}

.selectedItem {

}